<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/adminPage_layout}">
<th:block layout:fragment="content">
    <div class="container">

        <div class="py-3 text-center">
            <h2 th:text="#{page.addRole}">권한 등록</h2>
        </div>
        <form th:action th:object="${role}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>

            </div>
            <div>
                <label for="roleName" th:text="#{label.role.name}">권한 이름</label>
                <input type="text" id="roleName" th:field="*{roleName}" class="form-control" th:errorclass="field-error" placeholder="권한의 이름을 입력하세요">
                <div class="field-error" th:errors="*{roleName}">
                    자원 순서 문제
                </div>
            </div>
            <div>
                <label for="roleDesc" th:text="#{label.role.desc}">권한 설명</label>
                <input type="text" id="roleDesc" th:field="*{roleDesc}" class="form-control" th:errorclass="field-error" placeholder="권한의 부가 설명을 입력하세요">
                <div class="field-error" th:errors="*{roleDesc}">
                    자원 순서 문제
                </div>
            </div>
            <hr class="my-4">

            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.save}">자원 등록</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-danger btn-lg"
                            onclick="location.href='admin/rolecontrol/roles.html'"
                            th:onclick="|location.href='@{/admin/roles/}'|"
                            type="button" th:text="#{button.cancel}">취소</button>
                </div>

                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='/admin/resourcecontrol/resources.html'"
                            th:onclick="|location.href='@{/admin/resources}'|"
                            type="button" th:text="#{button.list}">목록으로</button>
                </div>

            </div>
        </form>
    </div> <!-- /container -->
</th:block>
</html>