<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments/header::header"></head>
<body>
<div th:replace="fragments/navbar::navbar"></div>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.reportedUsers}">신고 목록</h2>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.user.id}">유저ID</th>
                <th th:text="#{label.user.reportCount}">신고 접수 횟수</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reportedUser : ${reportedUsers}">
                <td><a href="reportedUser.html" th:href="@{|/admin/reportedUser/${reportedUser.user.id}|}" th:text="${reportedUser.user.id}">유저 ID</a></td>
                <td th:text="${reportedUser.count}">2</td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>