<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link href="../css/default_layout_style.css" rel="stylesheet">
<body>
    <div id="wrap">
        <!-- header -->
        <th:block th:replace="/layout/fragments/adminHeader :: adminHeader"></th:block>
        <!-- navbar -->
        <th:block th:replace="/layout/fragments/navbar :: navbar"></th:block>
        <div class="row align-items-start" style="padding-top:50px">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="py-1 text-center">
                    <h3 th:text="#{page.adminPage}"></h3>
                </div>
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <div style="padding-top:10px;" class="nav flex-column nav-pills" aria-orientation="vertical">
                                <a th:href="@{/admin/users}" style="margin:5px;" class="nav-link text-primary" th:text="#{page.usermanage}"></a>
                                <a th:href="@{/admin/resources}" style="margin:5px;" class="nav-link text-primary" th:text="#{page.resourcemanage}"></a>
                                <a th:href="@{/admin/roles}" style="margin:5px;" class="nav-link text-primary" th:text="#{page.rolemanage}"></a>
                                <a th:href="@{/admin/reportedUsers}" style="margin:5px;" class="nav-link text-primary" th:text="#{page.reportedUser}" ></a>
                                <a th:href="@{/admin/blockedUsers}" style="margin:5px;" class="nav-link text-primary" th:text="#{page.blockedUsers}"></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="content-wrap" style="padding-top:50px;"  class="col">
                <!-- content -->
                <th:block layout:fragment="content"></th:block>
            </div>
        </div>
    </div>
    <!-- footer -->
    <th:block th:replace="/layout/fragments/footer :: footer"></th:block>

</body>
</html>