<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <footer class="text-center text-white" th:fragment="footer">
        <!-- Grid container -->
        <div class="container pt-2">
            <!-- Section: Social media -->
            <section class="mb-2">
                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="mailto:toojey7@gmail.com"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <img src="/images/google.svg" width="24px"/>
                </a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1"
                   href="https://github.com/LazyWorking/sagupalgu/"
                   role="button"
                   data-mdb-ripple-color="dark">
                    <img src="/images/github.svg" width="24px"/>
                </a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright: LazyWorking
        </div>
        <!-- Copyright -->
    </footer>

</html>
