<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="/" th:text="#{page.homePage}">SaguPalgu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <!-- 왼쪽 정렬 -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/usedItems" th:text="#{page.usedItems}">UsedItems</a>
                </li>
            </ul>

            <!-- 오른쪽 정렬 -->
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" th:href="@{/login}" sec:authorize="isAnonymous()" th:text="#{button.login}">login</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()" th:text="#{button.logout}">logout</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/signIn}" sec:authorize="isAnonymous()" th:text="#{button.signIn}">sign in</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/users/myPage}" sec:authorize="isAuthenticated()"  th:text="#{page.myPage}">User</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/admin}" sec:authorize="hasAuthority('ROLE_ADMIN')"  th:text="#{page.adminPage}">admin</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/report" sec:authourize="isAuthenticated()" th:href="@{/users/report}">
                        <img src="/images/siren_lamp.svg" width="20px" th:text="#{page.report}">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</html>