<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
<th:block layout:fragment="content">
    <div class="container">

        <div class="py-5 text-center">
            <h2 th:text="#{page.report}">유저 신고</h2>
        </div>

        <form action="reportForm.html" th:action th:object="${reportUser}" method="post">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each=" err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메세지</p>
            </div>

            <div hidden>
                <label for="reporterUserId" th:text="#{label.user.id}">유저 ID</label>
                <input type="text" id="reporterUserId" th:field="*{reporterUserId}" th:errorclass="field-error" class="form-control" placeholder=" ">
            </div>

            <div>
                <label for="targetUserEmail" th:text="#{label.user.id}">유저 ID</label>
                <input type="text" id="targetUserEmail" th:field="*{targetUserEmail}" th:errorclass="field-error" class="form-control" placeholder="신고할 유저 아이디를 명시하세요">
                <div class="field-error" th:errors="*{targetUserEmail}">
                    존재하지 않는 유저입니다.
                </div>
            </div>


            <div>
                <label for="reportContext" th:text="#{label.user.reportContext}">신고 사유</label>
                <input type="text" id="reportContext" th:field="*{reportContext}" th:errorclass="field-error" class="form-control" placeholder="신고 사유를 입력하세요.">
                <div class="field-error" th:errors="*{reportContext}">
                    신고 사유를 작성해주세요.
                </div>
            </div>

            <hr class="my-4">
            <div class="row">
                <div class="col">
                    <button class="w-100 btn btn-danger btn-lg" type="submit" th:text="#{button.report}">유저 신고</button>
                </div>
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='/"
                            th:onclick="|location.href='@{/}'|"
                            type="button" th:text="#{button.cancel}">취소</button>
                </div>
            </div>

        </form>

    </div> <!-- /container -->
</th:block>
</html>