<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header"></head>
<body>
<div th:replace="fragments/navbar::navbar"></div>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.report}">유저 신고</h2>
    </div>

    <form action="reportForm.html" th:action th:object="${reportUser}" method="post">
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each=" err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메세지</p>
        </div>

        <div>
            <label for="name" th:text="#{label.user.id}">유저 ID</label>
            <input type="text" id="name" th:field="*{id}" th:errorclass="field-error" class="form-control" placeholder="신고할 유저 아이디를 명시하세요">
            <div class="field-error" th:errors="*{id}">
                존재하지 않는 유저입니다.
            </div>
        </div>
        <div>
            <label for="price" th:text="#{label.user.reportContext}">가격</label>
            <input type="text" id="price" th:field="*{context}" th:errorclass="field-error" class="form-control" placeholder="신고 사유를 입력하세요.">
            <div class="field-error" th:errors="*{context}">
                신고 사유를 작성해주세요.
            </div>
        </div>

        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-danger btn-lg" type="submit" th:text="#{button.report}">유저 신고</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='/"
                        th:onclick="|location.href='@{/}'|"
                        type="button" th:text="#{button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>