<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <a href="https://accounts.kakao.com/login/?continue=https://kauth.kakao.com/oauth/authorize?response_type=code&redirect_uri=http://localhost:8080%/login/oauth2/code/kakao%26through_account%3Dtrue%26client_id%3D43e398315e08268714887b3750a55107">
            카카오</a>
        <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=I7UExJKBf_S3n8z2QDw3&redirect_uri=http://localhost:8080/login/oauth2/code/naver&state=">
            네이버</a>
    </body>
    </html>